<!--
<a href="/posts/find" class="btn btn-light">Ver Posts</a>
<a href="/posts/create" class="btn btn-light">Adicionar Posts</a>
-->


<!-- Main Content-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Nesse site voce vai encontrar noticiais e fofocas dos ultimos tempos. Desfrute do que podemos oferecer</p>
            <p>O Site Cantinho dos Famosos é a revista mais sofisticada e elegante do segmento. Sempre atenta , ela oferece a cobertura diária da vida das celebridades, além de tendências de comportamento e estilo. A busca pela notícia exclusiva e a capacidade de contar histórias detalhadas – que retratem o perfil e a intimidade de artistas nacionais e internacionais, ícones da sociedade e outras personalidades do jet-set e da moda – são marcas da publicação online . As melhores imagens e ensaios fotográficos valorizam as reportagens da revista, que também apresenta, com inteligência, a cobertura de Grandes eventos, a crítica de filmes em cartaz e o que acontece na TV, no teatro, na Música, nas artes e na gastronomia</p>
        </div>
    </div>
</div>
<hr />