<!-- Main Content-->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <% posts.forEach(function(post) { %>
            <div class="post-preview">
                <a href="/posts/update/<%= post.id %>">
                    <h2 class="post-title"><%= post.titulo %></h2>
                    <h3 class="post-subtitle"><%= post.descricao %></h3>
                </a>
                <!--p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on September 18, 2021
                </p-->
            </div>
            <hr />
            <% }) %>
        <!--
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Science has not yet mastered prophecy</h2>
                    <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on August 24, 2021
                </p>
            </div>
            <hr />
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Failure is not an option</h2>
                    <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on July 8, 2021
                </p>
            </div>
            <hr />
        -->
            <!-- Pager-->
            <div class="clearfix"><a class="btn btn-primary float-right" href="#!">Posts Antigos →</a></div>
        </div>
    </div>
</div>
<hr />